header {
  position: relative;
  width: 1920px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 161px;
  height: 46px;
  left: 435px;
  top: 17px;
}
.iphonefilter {
  display: none;
}
